_ReSharper.*
*Resharper.user
[Bb]in/
[Oo]bj/
csx/
.DS_Store
*.user
*.suo
*.swp
*.orig
*.[Cc]onfig.transformed
*.crunchproject.local.xml
*.crunchsolution.local.xml
*.ncrunch*
*.cache
*.build.csdef
*dont-edit/
[Aa]pp_Data/
csx/
RequestReduceContent/
*.log
*.probe
*.tmp
*.trace
[Rr]elease*/
[Dd]ebug*/
[Pp]ublish/
~*.*
.idea/
#[Ll]ogs/
Thumbs.db

#Some assemblies are being copied to the root by NCrunch for some reason
/Source/*.dll
/Source/*.xml

#Nuget packages
/**/[Pp]ackages/
/**/_NCrunch_*

node_modules/
bower_components/