body {
  background-color: #f7f8f9;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;

  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: #333f48;
}

.footer {
  margin-top: 10px;
  background: #333f48;
}

.main {
  margin-top: 10px;
  text-align: left;
  background: #fff;
}

.aside-1 {
  margin-top: 10px;
  background: #333f48;
}

.aside-2 {
  margin-top: 10px;
  background: #333f48;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 8 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

.leaderboard {
  display: flex;
  .actions {
    flex: 1;
    margin-left: auto;
  }
}
